.u-section-1 .u-sheet-1 {
  min-height: 1067px;
}

.u-section-1 .u-group-1 {
  width: 800px;
  min-height: 744px;
  margin: 169px auto 60px 14px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 231px;
  height: 281px;
  animation-duration: 1000ms;
  margin: 88px 343px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 183px;
  height: 184px;
  animation-duration: 1000ms;
  margin: -129px 343px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 297px;
  min-height: 369px;
  animation-duration: 1000ms;
  margin: -424px auto 0 39px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 210px;
  height: 210px;
  margin: 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 190px;
  height: 128px;
  animation-duration: 1000ms;
  margin: -73px auto 0 119px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: -375px 138px 0 502px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 27px 20px 0 404px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-1 .u-group-1 {
    min-height: 841px;
    margin-left: 117px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 44px;
    margin-right: 378px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -84px;
    margin-right: 378px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -425px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 161px;
  }

  .u-section-1 .u-shape-3 {
    width: 243px;
    height: 185px;
    margin-top: -129px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -381px;
    margin-right: 236px;
    margin-left: 404px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 39px;
    margin-right: 50px;
    margin-left: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1059px;
  }

  .u-section-1 .u-group-1 {
    min-height: 780px;
    margin-top: 55px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 41px;
    margin-right: 313px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -98px;
    margin-right: 313px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -408px;
  }

  .u-section-1 .u-image-1 {
    width: 208px;
    height: 159px;
    margin-top: 15px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -146px;
    margin-left: 78px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -347px;
    margin-right: 47px;
    margin-left: 371px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 14px;
    margin-right: 67px;
    margin-left: 358px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    min-height: 744px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 19px;
    margin-right: 206px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -62px;
    margin-right: 206px;
  }

  .u-section-1 .u-group-2 {
    width: 254px;
    min-height: 368px;
    margin-top: -422px;
    margin-left: 9px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 128px;
    width: 167px;
    margin-top: 59px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -130px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
    margin-right: 268px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 4px;
    margin-right: 217px;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1111px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1051px;
    margin-top: -17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 42px;
    margin-right: 26px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -83px;
    margin-right: 26px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -424px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 207px;
    height: 159px;
    margin-top: 31px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -129px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 58px;
    margin-right: 197px;
    margin-left: 23px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-right: 62px;
    margin-left: 23px;
  }
}